
#guestappt {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    background-color: #555555;
    height: 100%;
    width: 100%;

    // .lds-phonelayout {
    //     min-width: 620px;
    // }
}

#guestappt-stores {
    height: 538px;
    > * {
        background-image: url('./images/guestappt-stores.png');
        background-size: 595px 538px;
    }
}

#guestappt-services {
    height: 472px;
    > * {
        background-image: url('./images/guestappt-services.png');
        background-size: 595px 472px;
    }
    .lds-spritesplit-right {
        width: 20px;
    }
}

#guestappt-signin {
    height: 280px;
    > * {
        background-image: url('./images/guestappt-signin.png');
        background-size: 595px 280px;
    }
    .lds-spritesplit-right {
        width: 20px;
    }
}

#guestappt-signin-section {
    h2 {
        font-size: 18px;
        color: #101828;
        text-align: center;
        padding: 24px 0;
    }
    p {
        font-size: 14px;
        text-align: center;
        color: #414F6B;
        padding-top: 24px;
    }
}


.lds-guestappt-header {
    padding: 16px 16px;
    > * {
        display: block; 
        text-align: center;
    }
    p {font-size: 15px; color: #101828;}
    b {font-size: 28px; color: #101828;}
}




.lds-button {
    height: 48px;
    width: 100%;
    color: #374D58;
    border: #9CAFB9 1px solid;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 10px 8px;
    text-align: center;
    border-radius: 6px;

    &.is-primary {
        background-color: #2F65A4;
        color: white;
        border-width: 0;
    }
    &.is-selected {
        background-color: #0093E8;
        color: white;
        border-width: 0;
    }
}

#guestappt-camera {
    background-color: black;
    background-image: url('../../images/qrcode.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

#guestappt-confirm {
    background: center center no-repeat url('./images/guestappt-confirm.png');
    background-size: contain;
    width: 276px;
    height: 458px;
    margin: 80px auto 0;
}

#guestappt-date {
    position: relative;
    top: 0;
    left: 0;
    background-image: url('./images/guestappt-date.png');
    background-size: 343px 632px;
    background-position: left;
    background-repeat: no-repeat;
    height: 632px;
    width: 343px;
    margin: 0 auto;

    > div {
        cursor: pointer;
        width: 43px;
        height: 43px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0093E8;
        text-align: center;
        padding: 8px 0;
        font-size: 18px;
        color: white;
        border-radius: 6px;
        opacity: 0;

        &.is-selected {opacity: 1;}
    }
}

#guestappt-time {
    h2 {
        font-size: 18px;
        color: #101828;
        text-align: center;
    }
    p {
        font-size: 14px;
        color: #414F6B;
        text-align: center;
        margin-bottom: 16px;
    }
}



