

#home-screen {
    border: 1px solid red;
    margin: 0 auto;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

#home-screen-content {
    width: 100%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}   

#home-screen-top {
    margin-bottom: 24px;
}

#home-screen-main {
    margin-bottom: 24px;
}

#home-screen-buttons {
    margin-top: 24px;
}



#login-screen {
    border: 1px solid red;
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#login-screen-form {
    background-image: url('../../images/lumistry-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 320px;
    height: 265px;
}
