@use './reset.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


:root {
    /* make it behave like an app */
    overscroll-behavior-y: none;
    overflow: hidden;
  }


html, body {
    // border: red 10px solid;
    height: 100%;
    background: linear-gradient(180deg, #0063B2 0%, #1093DE 100%);
    background-color: #0063B2;
    // background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

#root {
    height: 100%;
}

// global modifiers
html {

    .is-text-white {
        color: white;
    }
    
    .is-inverse {
        // color: white;
    }
    
    .is-bg-ltgray {
        background-color: #F5F9FD;
    }
    .is-bg-white {
        background-color: white;
    }

    .is-stack {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .is-group {
        display: flex;
        gap: 8px;
    }
    .is-row {
        display: flex;
        gap: 0;
    }
    .is-scroll {
        overflow-y: auto;
        overflow-x: hidden;
    }
}


.lds-logo {
    background-image: url('../images/lumistry-logo-inv.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 272px;
    height: 94px;

    &-tag {
        text-transform: uppercase;
        font-size: 13px;
        opacity: 0.8;
        font-weight: 500;
        letter-spacing: 0.2em;
    }
}


// input anim
.hs-firstname {
    position: relative; 
    margin-top: 50px;
  }
  
  input {
    position: relative;
    z-index: 2;
    background: transparent;
    padding: 2px 5px;
    border: 1px solid #999;
  }
  label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  input:focus + label {
    top: -18px;
    font-size: 14px;
  }


/*
.App {
    height: 95vh;
    // border: 10px solid blue;
}

.lds-logo {
    width: 272px;
    height: 94px;
    background-image: url('../images/logo-inverse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // background-color: yellow;
}



a {
    text-decoration: none;
}

.lds-section {
    padding: 16px;
}





// --- components --- //

.lds-layout {
    display: flex;
    flex-direction: column;
    // align-items: center;
    height: 100%;
    // border: 1px solid red;
    // justify-content: center;
    // box-sizing: border-box;

    &-brandname {
        font-size: 13px;
        opacity: 0.5;
        // font-weight: 700;
    }
    &-supname {
        font-size: 24px;
    }
    &-patientname {
        font-size: 32px;
        font-weight: 700;
    }
    &-bottomnav {
        background: white url(../images/bottomnav-home.png) no-repeat center center;
        background-size: contain;
        height: 90px;
        width: 100%;
    }

    &-header {
        position: relative;
        top: 0;
        left: 0; 
        height: 100px;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        justify-content: flex-end;
        color: white;
        line-height: 1.2;
        padding: 12px 16px;

        &-right {
            position: absolute;
            top: auto;
            bottom: 16px;
            left: auto;
            right: 16px;
            background: url(../images/header-right.png) no-repeat center center;
            background-size: contain;
            height: 42px;
            width: 66px;
        }
    }
    
    &-content {
        height: 100%;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    &-nav {
        border-top: 1px solid #f8f8f8;
        background-color: white;
        height: 100px;
    }
}



// .App {
//     text-align: center;
//     // min-height: 100vh;
//     background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
//   }
  */